/* button link */
.btn {
    background-color: var(--color-accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    border: none;

    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;

    color: var(--color-bg-first);
    width: 200px;
    height: 50px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        background-color: #188CE8;
        cursor: pointer;
    }

    &__margin--center {
        margin-left: auto;
        margin-right: auto;
    }
}